@font-face {
  font-family: "LiAdorNoirrit";
  src: url("/font/LiAdorNoirrit/LiAdorNoirrit.woff2") format("woff2"),
    url("/font/LiAdorNoirrit/LiAdorNoirrit.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "noorehuda";
  src: url("/font/noorehuda.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}