@font-face {
  font-family: "SiyamRupali";
  src: url("./../lib/font/siyam-rupali/Siyamrupali.eot");
  src: url("./../lib/font/siyam-rupali/Siyamrupali.eot?#iefix")
      format("embedded-opentype"),
    url("./../lib/font/siyam-rupali/Siyamrupali.otf") format("opentype"),
    url("./../lib/font/siyam-rupali/Siyamrupali.svg") format("svg"),
    url("./../lib/font/siyam-rupali/Siyamrupali.ttf") format("truetype"),
    url("./../lib/font/siyam-rupali/Siyamrupali.woff") format("woff"),
    url("./../lib/font/siyam-rupali/Siyamrupali.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body,
section p {
  font-family: "SiyamRupali", sans-serif;
}

.reveal {
  font-size: 20px;
}

@media (max-width: 767px) {
  .reveal {
    font-size: 18px;
  }
}

.reveal .slides section,
.reveal .slides section > section {
  height: 85%;
  overflow-y: auto !important;
  line-height: 1.8;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  line-height: 1.8;
}

.reveal h1 {
  font-size: 1.5em;
}

.reveal h2 {
  font-size: 1.3em;
}

.reveal h3 {
  font-size: 1em;
}

.reveal p {
  line-height: 1.8;
  padding: 0 15px;
}

.card-sura-name {
  margin: 0;
}

.slide-menu-wrapper
  .slide-menu-toolbar
  > li.toolbar-panel-button
  span.slide-menu-toolbar-label {
  visibility: visible !important;
}

section {
  background: rgba(255, 255, 255, 0.8);
}

.fas.fa-bars,
.controls-arrow {
  color: black;
}

.reveal .slide-menu-button {
  bottom: 22px !important;
}

.home-url {
  position: fixed;
  left: 65px;
  bottom: 23px;
  z-index: 30;
  font-size: 24px;
}

.home-url a {
  color: black;
}

li.slide-menu-item a {
  display: block;
}

@font-face {
  font-family: "PDMSSaleemQuranFont";
  src: url("./../lib/font/pdms/PDMSSALEEMQURANFONTQESHIP0.eot"); /* IE9 Compat Modes */
  src: url("./../lib/font/pdms/PDMSSALEEMQURANFONTQESHIP0.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./../lib/font/pdms/PDMSSALEEMQURANFONTQESHIP0.otf")
      format("opentype"),
    /* Open Type Font */
      url("./../lib/font/pdms/PDMSSALEEMQURANFONTQESHIP0.svg") format("svg"),
    /* Legacy iOS */ url("./../lib/font/pdms/PDMSSALEEMQURANFONTQESHIP0.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./../lib/font/pdms/PDMSSALEEMQURANFONTQESHIP0.woff") format("woff"),
    /* Modern Browsers */
      url("./../lib/font/pdms/PDMSSALEEMQURANFONTQESHIP0.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.arabic {
  direction: rtl;
  margin: 0px 0px 0px 0px;
  padding: 0cm 0cm;
  line-height: 200%;
  font-weight: normal;
  font-style: normal;
  font-family: "PDMSSaleemQuranFont", sans-serif;
  font-size: 35px;
}

.arabic.big-text {
  font-size: 45px;
}

body div.slides section {
  top: -1px !important;
}

.play-tips {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 160px;
  background-color: white;
  color: green;
  padding: 5px 10px 0 10px;
  border: 1px solid green;
  border-radius: 20px;
  animation-name: bounce;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}
