body,
section p {
  font-family: "LiAdorNoirrit", sans-serif;
}

.reveal {
  font-size: 26px;
}

@media (max-width: 767px) {
  .reveal {
    font-size: 22px;
  }
}

.reveal .slides section,
.reveal .slides section > section {
  height: 90%;
  overflow-y: auto !important;
  line-height: 1.8;
}

.reveal h1 {
  font-size: 1.5em;
}

.reveal h2 {
  font-size: 1.3em;
}

.reveal h3 {
  font-size: 1em;
}

.reveal p {
  line-height: 1.8;
  padding: 0 15px;
}

.card-sura-name {
  margin: 0;
}

.slide-menu-wrapper
  .slide-menu-toolbar
  > li.toolbar-panel-button
  span.slide-menu-toolbar-label {
  visibility: visible !important;
}

section {
  background: rgba(255, 255, 255, 0.8);
}

.fas.fa-bars,
.controls-arrow {
  color: black;
}

.reveal .slide-menu-button {
  bottom: 22px !important;
}

.home-url {
  position: fixed;
  left: 65px;
  bottom: 23px;
  z-index: 30;
  font-size: 24px;
}

.home-url a {
  color: black;
}

li.slide-menu-item a {
  display: block;
}

.arabic {
  direction: rtl;
  margin: 0px 0px 0px 0px;
  padding: 0cm 0cm;
  line-height: 200%;
  font-weight: normal;
  font-style: normal;
  font-family: "noorehuda", sans-serif;
  font-size: 40px;
}

@media (max-width: 767px) {
  .arabic {
    font-size: 32px;
  }
}

body div.slides section {
  top: -1px !important;
}

.play-tips {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 160px;
  background-color: white;
  color: green;
  padding: 5px 10px 0 10px;
  border: 1px solid green;
  border-radius: 20px;
  animation-name: bounce;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}

#myInput {
  background-image: url("./../img/search.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

/* LOGO */
.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  width: 150px;
  height: auto;
}

@media only screen and (min-width: 601px) {
  .logo {
    width: 205px;
  }
}

/* Collapsible list menu */
/* Hide nested options by default */
.nested-options {
  display: none;
}

/* Show nested options when parent item is active */
.nested-options.active {
  display: block;
}

/* Add arrow icon */
.slide-menu-item-toggle::after {
  content: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 19 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 2L3 17L17 32' stroke='white' stroke-width='3'/%3E%3C/svg%3E");
  display: inline-block;
  margin-left: 5px; /* Adjust spacing */
  transition: transform 0.3s; /* Add transition for animation */
}

/* Rotate arrow when nested options are active */
.slide-menu-item-toggle.active::after {
  transform: rotate(-90deg);
}

.slide-menu-item.slide-menu-item-toggle:hover {
  color: white;
}

.reveal .progress {
  height: 6px;
}

.slide-menu-wrapper .slide-menu-toolbar > li.active-toolbar-button {
  text-decoration: none !important;
}

.nested-options .slide-menu-item {
  padding-left: 40px !important;
}
